In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
df = pd.read_csv(r"C:\Users\ashna\OneDrive\Desktop\EDA Project1\track_data_final.csv")
print(df)

                    track_id                              track_name  \
0     6pymOcrCnMuCWdgGVTvUgP                                       3
1     2lWc1iJlz2NVcStV5fbtPG                                  Clouds
2     1msEuwSBneBKpVCZQcFTsU     Forever & Always (Taylor’s Version)
3     7bcy34fBT2ap1L4bfPsl9q               I Didn't Change My Number
4     0GLfodYacy3BJE7AI3A8en                                Man Down
...                      ...                                     ...
8773  58VTP6KnZs12PcAj5rMJ4W                              the fruits
8774  2dRfUOeTVpr4V4PmmqGkpm  Dark World Theme (The Legend of Zelda)
8775  37F0uwRSrdzkBiuj0D5UHI                                Reminder
8776  42qNWdLKCI41S4uzfamhFM                                   Duvet
8777  7KZJnMtwu2s80jO5Frthap                          So Much Better

      track_number  track_popularity  track_duration_ms  explicit  \
0               57                61             213173     False
1                1                67             158760     False
2               11                63             225328     False
3                2                72             158463      True
4                7                57             267013     False
...            ...               ...                ...       ...
8773             1                65             209698     False
8774             4                 2             113143     False
8775             4                81             218880      True
8776             1                84             203600     False
8777             4                33             261385      True

         artist_name  artist_popularity  artist_followers       artist_genres  \
0     Britney Spears               80.0        17755451.0             ['pop']
1              BUNT.               69.0          293734.0   ['stutter house']
2       Taylor Swift              100.0       145396321.0                  []
3      Billie Eilish               90.0       118692183.0                  []
4            Rihanna               90.0        68997177.0                  []
...              ...                ...               ...                 ...
8773    Paris Paloma               66.0          786890.0                  []
8774           Zelda                8.0            3263.0                  []
8775      The Weeknd               94.0       113039308.0                  []
8776             bôa               68.0         1188508.0                  []
8777          Eminem               88.0       104584370.0  ['rap', 'hip hop']

                    album_id                   album_name album_release_date  \
0     325wcm5wMnlfjmKZ8PXIIn       The Singles Collection         2009-11-09
1     2ArRQNLxf9t0O0gvmG5Vsj                       Clouds         2023-01-13
2     4hDok0OAJd57SGIT8xuWJH  Fearless (Taylor's Version)         2021-04-09
3     0JGOiO34nwfUdDrD612dOp            Happier Than Ever         2021-07-30
4     5QG3tjE5L9F6O2vCAPph38                         Loud         2010-01-01
...                      ...                          ...                ...
8773  48ssTnnFOCIP17sRaFNqu1                   the fruits         2022-04-29
8774  0JJAfVZtn3EvZnXSQrpLSh          The Legend of Zelda         2023-08-19
8775  2ODvWsOgouMbaA5xf0RkJe                      Starboy         2016-11-25
8776  7sGYAV0xv7ZfAMzIpMl8m1                     Twilight         2001-03-21
8777  3vOgbDjgsZBAPwV2M3bNOj     The Marshall Mathers LP2         2013-11-05

      album_total_tracks   album_type
0                     58  compilation
1                      1       single
2                     26        album
3                     16        album
4                     13        album
...                  ...          ...
8773                   1       single
8774                   7        album
8775                  18        album
8776                  14        album
8777                  16        album

[8778 rows x 15 columns]

In [6]:
print("Number of column",len(df.columns))
print("Names of column",df.columns)

Number of column 15
Names of column Index(['track_id', 'track_name', 'track_number', 'track_popularity',
       'track_duration_ms', 'explicit', 'artist_name', 'artist_popularity',
       'artist_followers', 'artist_genres', 'album_id', 'album_name',
       'album_release_date', 'album_total_tracks', 'album_type'],
      dtype='object')

In [8]:
print("data type of each column")
df.dtypes

data type of each column

track_id               object
track_name             object
track_number            int64
track_popularity        int64
track_duration_ms       int64
explicit                 bool
artist_name            object
artist_popularity     float64
artist_followers      float64
artist_genres          object
album_id               object
album_name             object
album_release_date     object
album_total_tracks      int64
album_type             object
dtype: object

## Data Type Conversion: Album Release Date

The **`album_release_date`** column was initially stored as an object. The release year was extracted from it and converted into an **integer (`int`)** to make the data suitable for analysis.

In [19]:
df["album_release_date"] = pd.to_datetime(df["album_release_date"] ,errors = "coerce")

In [20]:
df.dtypes

track_id                      object
track_name                    object
track_number                   int64
track_popularity               int64
track_duration_ms              int64
explicit                        bool
artist_name                   object
artist_popularity            float64
artist_followers             float64
artist_genres                 object
album_id                      object
album_name                    object
album_release_date    datetime64[ns]
album_total_tracks             int64
album_type                    object
dtype: object

In [23]:
print("Total Null Value in data set",df.isnull().sum().sum())
print("total Null values in each column :\n\n")
df.isnull().sum()

Total Null Value in data set 221
total Null values in each column :

track_id                0
track_name              2
track_number            0
track_popularity        0
track_duration_ms       0
explicit                0
artist_name             4
artist_popularity       4
artist_followers        4
artist_genres           4
album_id                0
album_name              2
album_release_date    201
album_total_tracks      0
album_type              0
dtype: int64

In [26]:
df = df.fillna(0)
print("total Null value after fillna",df.isnull().sum().sum())

total Null value after fillna 0